.divC {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 95%;
  height: 200px;
  background-color: rgba(144, 198, 249, 0.36);
  align-items: center;
  border-radius: 15px 50px 30px;
}

.name {
  color: white;
}

.visit {
  color: white;
}