.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap:24px;
  margin: 100px auto;
}

.exp {
    width: 100%;
    color:white;
}

.bottomCard{
    text-align: center;
    color:white;
}
 .all h1{
    text-align: center;
    color:white;
 }
 .all ul{
  color:white;
}
.all li{
  color:white;
}

p{
  color:white;
}

.photos h1{
  color:white;
}

.workH{
  margin-top: 50px;
  text-align:start;
  color:white;
}

.workTimeLine{
  color:white;
}
