.btngrad {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-size: 20px;
}

.btngrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btngrad a:link {
  color: white;
  text-decoration: none;
}

.btngrad a:visited {
  color: white;
}

.btngrad Link {
  color: white;
  text-decoration: none;
}

@media (max-width: 780px) {
  .btngrad {
    font-size: 16px;
  }
}

@media (min-width: 781px) and (max-width: 1024px) {
  .btngrad {
    font-size: 18px;
  }
}
